@using Microsoft.AspNetCore.Components.Web
@using DineOn.Data.Models
@using DineOn.Service.Interfaces
@inject NavigationManager NavigationManager
@inject IMenuItem menuService
@inject ICart cartService
@inject ICheckout checkoutService


@if (cartService.GetCartItems() != null && cartService.GetCartItems().Any())
{
    <div class="row mb-3">
        <div class="col-md-9 clearfix">
            <p class="display-3">Checkout</p>
        </div>
        <div class="col-md-3 pt-md-5">
            <a class="h4" @onclick="NavigateToCart" role="button"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Return to Cart</a>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span>Order summary</span>
                <span class="badge badge-pill">@cartService.GetCartCount() @GetLabel()</span>
            </h4>
            <ul class="list-group mb-3">
                @foreach (var asset in cartService.GetCartItems())
                {
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">@asset.MenuItem.Name</h6>
                            <small class="text-muted">Quantity: @asset.Quantity</small>
                        </div>
                        <span class="text-muted">$@Math.Round(asset.Quantity * asset.MenuItem.Price, 2)</span>
                    </li>
                }
                <li class="list-group-item d-flex justify-content-between">
                    <span>Delivery fees </span>
                    <strong>$3.49</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>HST</span>
                    <strong>$@CalculateHST()</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (CAD)</span>
                    <strong>$@CalculateTotal()</strong>
                </li>
            </ul>
        </div>


        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Fill to complete order</h4>
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" @bind="details[0]" @bind:event="oninput"  required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" @bind="details[1]" @bind:event="oninput" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com" @bind="details[4]" @bind:event="oninput" required>
                    <div class="invalid-feedback">
                        Please enter a valid email address for delivery updates and restaurant offers.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" @bind="details[2]" @bind:event="oninput" required>
                    <div class="invalid-feedback">
                        Please enter your delivery address.
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">City</label>
                        <select class="custom-select" id="city" @bind="details[3]" @bind:event="oninput" required>
                            <option value=""></option>
                            <option>St. John's</option>
                            <option>Mount Pearl</option>
                            <option>Paradise</option>
                            <option>Conception Bay South</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid city.
                        </div>
                    </div>


                    <div class="col-md-3 mb-3">
                        <label for="zip">Postal Code</label>
                        <input type="text" class="form-control" id="zip" placeholder="" @bind="details[5]" @bind:event="oninput" required>
                        <div class="invalid-feedback">
                            Postal code required.
                        </div>
                    </div>
                </div>


                <hr class="mb-4">
                <h4 class="mb-3">Payment</h4>

                <div class="form-check form-check-inline my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                        <label class="custom-control-label" for="credit">Credit card</label>
                    </div>&nbsp;&nbsp;
                    <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="debit">Debit card</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" @bind="cardDetails[0]" @bind:event="oninput" required>
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                            Name on card is required
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <input type="number" class="form-control" id="cc-number" placeholder="" @bind="cardDetails[1]" @bind:event="oninput" required>
                        <div class="invalid-feedback">
                            Credit card number is required
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" @bind="cardDetails[2]" @bind:event="oninput" required>
                        <div class="invalid-feedback">
                            Expiration date required
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-cvv">CVV</label>
                        <input type="number" class="form-control" id="cc-cvv" placeholder="" @bind="cardDetails[3]" @bind:event="oninput" required>
                        <div class="invalid-feedback">
                            Security code required
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button @onclick="e => PlaceOrder()" class="btn btn-dark btn-lg btn-block" type="submit">Place order</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="row mb-3">
        <div class="col-md-9 clearfix">
            <p class="display-3">Checkout</p>
        </div>
        <div class="col-md-3 pt-md-5">
            <a class="h4" @onclick="NavigateToMenu" role="button"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Return to Menu</a>
        </div>
    </div>
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Sorry!</h4>
        <p>Your order cart is currently empty</p>
    </div>
}




@code{

    string[] details = {"","","","","","",""};
    string[] cardDetails = { "", "", "", ""};

    private string GetLabel()
    {
        return cartService.GetCartCount() > 1 ? "Items" : "Item";
    }

    private void NavigateToMenu()
    {
        NavigationManager.NavigateTo("Menu", true);
    }

    private void NavigateToCart()
    {
        NavigationManager.NavigateTo("Checkout", true);
    }

    private double CalculateHST()
    {
        return Math.Round(0.15 * cartService.GetCartTotal(), 2);
    }

    private double CalculateTotal()
    {
        return Math.Round(cartService.GetCartTotal() + CalculateHST() + 3.49, 2);
    }

    private void PlaceOrder()
    {
        int countPayment = 0;
        foreach (string asset in cardDetails)
        {
            if (asset == string.Empty)
            {
                countPayment++;
            }
        }

        if (countPayment == 0)
        {
            NavigationManager.NavigateTo("Checkout/Success", true);
            checkoutService.CompleteOrder(details, CalculateTotal());
        }


    }


}


