@using Microsoft.AspNetCore.Components.Web
@using DineOn.Data.Models
@using DineOn.Service.Interfaces
@inject NavigationManager NavigationManager
@inject IMenuItem menuService
@inject IOrderCart cartService

<div class="row mb-3">
    <div class="col-md-12 clearfix">
        <p class="display-3">Success</p>
    </div>
</div>
<hr />

