@model DineOn.Web.Models.Menu.CategoryModel
@{
    ViewData["Title"] = "Burgers";
}


@if (Model.CategoryMenuItems.Count() != 0)
{
    <div class="row">
        <div class="clearfix">
            <p class="display-3">Menu</p>
        </div>
    </div>


    <div class="row mb-3">
        <div class="clearfix">
            <h2 class="text-muted">&nbsp;&nbsp;Burgers</h2>
        </div>
    </div>


        <div class="card-columns">

            @foreach (var asset in Model.CategoryMenuItems)
            {
            <div class="card">
                <a class="modal-trigger stretched-link" asp-controller="Menu" asp-action="Detail" asp-route-menuItemId="@asset.MenuItemId"></a>
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h6><strong>@asset.Name</strong></h6>
                            <div class="text-truncate text-muted">
                                <small>@asset.Description</small>
                            </div>
                            <p>$@asset.Price</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="@asset.ImageUrl" class="card-img" alt="...">
                    </div>
                </div>
            </div>
            }
            <br /><br /><br />
        </div>
        }
        else
        {
        <div class="row">
            <div class="clearfix">
                <p class="display-3">Menu</p>
            </div>
        </div>


        <div class="row mb-3">
            <div class="clearfix">
                <h2 class="text-muted">&nbsp;&nbsp;Sorry there are no burgers in our Menu at the moment</h2>
            </div>
        </div>
        }


