@using Microsoft.AspNetCore.Components.Web
@using DineOn.Service.Interfaces
@inject IOrderCart cartService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DineOn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <base href="~/" /> @*Place this here to enable Blazor Component Renders on all Locations*@
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="~/icon.png" width="30" height="30" alt="" loading="lazy">
        </a>
        <a class="navbar-brand text-warning" asp-area="" asp-controller="Home" asp-action="Index">DineOn</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item"><a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-warning" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       asp-area="" asp-controller="Menu" asp-action="Index">Menu</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-area="" asp-controller="Menu" asp-action="Index">Full Menu</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Menu" asp-action="Burger">Burgers</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Menu" asp-action="Dessert">Dessert</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Menu" asp-action="Mexican">Mexican</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Menu" asp-action="Pizza">Pizza</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Menu" asp-action="Starter">Starter</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Menu" asp-action="Vegetarian">Vegetarian</a>
                    </div>
                </li>
            </ul>
            <form>
                <button class="btn btn-outline-warning" type="submit" asp-controller="Checkout" asp-action="Index">Cart &nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
            </form>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Artwork Gallery - <a href="http://www.nanaessandoh.com/" target="_blank">Nana Essandoh</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="_framework/blazor.server.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
