@inherits LayoutComponentBase

<NavMenu />
<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - DineOn Restaurant - <a href="http://www.nanaessandoh.com/" target="_blank">Nana Essandoh</a>
    </div>
</footer>

